[submodule "onsite-program/live-coding/week-5/day-4/Foundry101/lib/forge-std"]
	path = onsite-program/live-coding/week-5/day-4/Foundry101/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "onsite-program/live-coding/week-5/day-4/Foundry101/lib/openzeppelin-contracts"]
	path = onsite-program/live-coding/week-5/day-4/Foundry101/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "onsite-program/submissions/week-5/day-5/Kamol-Oduola/Ticketing/hello_foundry/lib/forge-std"]
	path = onsite-program/submissions/week-5/day-5/Kamol-Oduola/Ticketing/hello_foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "onsite-program/submissions/week-5/day-5/Kamol-Oduola/Ticketing/lib/openzeppelin-contracts"]
	path = onsite-program/submissions/week-5/day-5/Kamol-Oduola/Ticketing/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "onsite-program/submissions/week-5/day-5/Kamol-Oduola/Ticketing/lib/forge-std"]
	path = onsite-program/submissions/week-5/day-5/Kamol-Oduola/Ticketing/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
